
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_loginSigninLayout.cshtml";
}
@section AjaxCall{
    <script>
        $(document).ready(function () {
            $("#login").click(function () {
                var username = $("#username").val();
                var password = $("#password").val();
                if (username == "" || password == "") {
                    alert("please check your input");
                }
                else {
                    var settings = {
                        type: "POST",
                        datatype: "json",
                        url: "/User/validateUser",
                        data: {
                            "name": username,
                            "passw": password
                        },

                        success: function (response) {
                            if (response.valid == true) {
                                location.href = response.urlToRedirect;
                            }
                            else {
                                alert('invalid username/password');
                            }
                        },
                        error: function (response) {
                            alert("error");
                        }
                    };
                    $.ajax(settings);
                    return false;
                }
            });
        });
    </script>
}


@section styling{
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
        }

        .hero {
            height: 100%;
            width: 100%;
         background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('nature.jpg');
            background-position: center;
            background-size: cover;
            position: absolute;
        }

        .form-box {
            width: 380px;
            height: 380px;
            position: relative;
            margin: 6% auto;
            background: #fff;
            padding: 5px;
            overflow: hidden;
        }

        .button-box {
            width: 220px;
            margin: 35px auto;
            position: relative;
            box-shadow: 0 0 20px #ff61241f;
            border-radius: 30px;
        }

        #log {
            top: 0;
            bottom: 0;
            position: absolute;
            width: 210px;
            height: 50px;
            background: linear-gradient(to right,#ff105f,#ffad06);
            border-radius: 30px;
            transition: .5s;
            text-align: center;
            padding-top: 10px;
        }

        .input-group {
            top: 100px;
            position: absolute;
            width: 280px;
            transition: .5s;
        }

        .inout-field {
            width: 100%;
            padding: 10px 0;
            margin: 5px 0;
            border-left: 0;
            border-right: 0;
            border-top: 0;
            border-bottom: 1px solid #999;
            outline: none;
            background: transparent;
        }

        .orangeColor {
            width: 85%;
            padding: 10px 20px;
            cursor: pointer;
            display: block;
            margin: 25px 25px 30px 0px;
            background: linear-gradient(to right,#ff105f,#ffad06);
            border: 0;
            outline: none;
            border-radius: 30px;
        }
    </style>
}
@{
    <div class="hero">
        <div class="form-box">
            <div class="button-box">
                <div>
                    don't have an account?
                    <form method="get" action="/User/SignIn">
                        <button type="submit" class="orangeColor">Create Account</button>
                    </form>
                </div>
                <div class="input-group">
                        <label>
                            <input type="text" class="inout-field" name="username" placeholder="username" id="username" required>
                        </label>
                        <label>
                            <input type="password" class="inout-field" name="password" placeholder="password" id="password" required>
                        </label>
                        <input type="submit" name="btn" class="orangeColor" id="login" value="log in" />
                </div>

            </div>
        </div>
    </div>

}
