
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_loginSigninLayout.cshtml";
}
@section AjaxCall{
    <script>
        $(document).ready(function () {
            $("#btn").click(function () {
                var username = $("#username").val();
                var password = $("#password").val();
                var Confirmpassword = $("#Confirmpassword").val();
                var email = $("#email").val();
                if (username == "" || password == "" || email=="" || Confirmpassword=="" ) {
                    alert("please check your input");
                    return false;
                }
                
                else {
                    if (password != Confirmpassword)
                {
                        alert("Enter the same password in Confirm Password field");
                        return false;
                }
                    var settings = {
                        type: "POST",
                        datatype: "json",
                        url: "/User/InsertUser",
                        data: {
                            "name": username,
                            "passw": password,
                            "email": email,
                        },

                        success: function (response) {
                            if (response.valid == true) {
                                location.href = response.urlToRedirect;
                            }
                            else {
                                alert('username/email already exits');
                            }
                        },
                        error: function (response) {
                            alert("error");
                        }
                    };
                    $.ajax(settings);
                    return false;
                }
            });
        });
    </script>
}
@section styling{
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
        }

        .hero {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('nature.jpg');
            background-position: center;
            background-size: cover;
            position: absolute;
        }

        .form-box {
            width: 480px;
            height: 480px;
            position: relative;
            margin: 6% auto;
            background: #fff;
            padding: 5px;
            overflow: hidden;
        }

        .button-box {
            width: 220px;
            margin: 35px auto;
            position: relative;
            box-shadow: 0 0 20px #ff61241f;
            border-radius: 30px;
        }

        #log {
            top: 0;
            bottom: 0;
            position: absolute;
            width: 210px;
            height: 50px;
            background: linear-gradient(to right,#ff105f,#ffad06);
            border-radius: 30px;
            transition: .5s;
            text-align: center;
            padding-top: 10px;
        }

        .input-group {
            top: 100px;
            position: absolute;
            width: 280px;
            transition: .5s;
        }

        .inout-field {
            width: 100%;
            padding: 10px 0;
            margin: 5px 0;
            border-left: 0;
            border-right: 0;
            border-top: 0;
            border-bottom: 1px solid #999;
            outline: none;
            background: transparent;
        }

        .orangeColor {
            width: 85%;
            padding: 10px 20px;
            cursor: pointer;
            display: block;
            margin: 25px 25px 30px 0px;
            background: linear-gradient(to right,#ff105f,#ffad06);
            border: 0;
            outline: none;
            border-radius: 30px;
        }
    </style>
}
<div class="hero">
    <div class="form-box">
        <div class="button-box">
            <h4 class="orangeColor">
                Get Registered
            </h4>
            <h5><b>Please Fill the following form</b></h5>
            <div class="input-group">
                
                <label>
                    <input type="text" class="inout-field" name="username" id="username" placeholder="Username" required>
                </label>
                <label>
                    <input type="text" class="inout-field" name="email" id="email" placeholder="Email" required>
                </label>
                <label>
                    <input type="password" class="inout-field" name="password" id="password" placeholder="password" required>
                </label>
                <label>
                    <input type="password" class="inout-field" name="Confirmpassword" id="Confirmpassword" placeholder="Confirm password" required>
                </label>
                <input type="submit" class="orangeColor" id="btn" name="btn" value="Sign in" />
            </div>
        </div>
    </div>
</div>

